@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .background-dots-fade {
    background-image: radial-gradient(
      circle,
      #ffffff50 0.5px,
      transparent 0.5px
    );
    background-size: 8px 8px, 100% 100%;
    background-repeat: repeat;
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

:root {
  user-select: none;
}
